<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello</title>
	<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
	<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<style>
        .cart-svg {
            margin-right: 30px; /* Встановіть бажаний відступ справа */
        }

        .search-form {
            margin-left: 30px; /* Встановіть бажаний відступ зліва */
        }

        .item-counter {
            right: 34%;
            top: -10% !important;
            border: 1px solid black;
            border-radius: 50%;
            padding: 2px 4px;
            font-size: 12px;
            background: white;
            line-height: 14px;
        }
	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					   data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
			</ul>

			<div class="position-relative" th:object="${cart}">
				<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
				     class="bi bi-cart cart-svg" viewBox="0 0 16 16">
					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				</svg>
				<span th:text="${cart != null ? cart.totalLineItemQuantity : 0}" class="position-absolute item-counter">0</span>
			</div>

			<form class="d-flex search-form">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<div th:each="product : ${products}" class="card" style="width: 18rem;">
	<img th:src="${product.getImageUrl()}" class="card-img-top" alt="Card Image">
	<div class="card-body">
		<h5 class="card-title" th:text="${product.name}">Card title</h5>
		<p class="card-text" th:text="${product.description}">Some quick example text to build on the card title and
			make up the bulk of the card's content.</p>
		<a th:href="@{/carts/{productId}(productId=${product.id})}" class="btn btn-primary">Add to cart</a>
	</div>
</div>
</body>
</html>

